/* Create two equal columns that floats next to each other */
body{
    padding-top: 50px;
}
.{}
.aboutIntro{
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
}
.aboutIntro:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  height: 300px; /* Should be removed. Only for demonstration */
}
.clubLogo{
    width: 50%;
    float: center;
}
.left {
  width: 28%;
}
.right {
  width: 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2)), url("images/paper.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.clubConstitution{
    float: right;
    background-color: #E5A823;
    border: none;
    padding: 10PX;
}
.introText{
    padding-left: 30px;
    padding-right: 30px;
}
/*officer_section------------------------------------------------------------*/
.header{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.officerColumn1 {
  float: left;
  width: 31.33%;
  height: 500px; /* Should be removed. Only for demonstration */
    margin: 1%;
    background-color: #0055A2;
    color: white;
}
.officerColumn {
  float: left;
  width: 31.33%;
  height: 500px; /* Should be removed. Only for demonstration */
    margin: 1%;
    background-color: white;
    color: #0055A2;
}
/* Clear floats after the columns */
.officerBlock{
    margin-left: 2%;
    margin-right: 2%;
    background-color: #939567;
    
}
.officerBlock:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .officerColumn {
    width: 100%;
  }
}
.president{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/maiaMcdonald.jpg");
    background-position: bottom;
}
.vicePresident{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/kyle.jpg");
    background-position: center;
}
.treasurer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/Sexy-Cat.png");
}
.webDeveloper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/brah.jpg");
}
.graphicDesigner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/Grumpy-Cat-Bed.jpg");
}
.eventCoordinator{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/alanMay.jpg");
}
.socialMediaManager{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/officerPics/daniel.jpg");
    background-position: bottom;
}
.officerPortrait{
    height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.officerPortraitText{
    padding-left: 10px;
    padding-right: 10px;
}
/*officer_section_end------------------------------------------------------------*/